---
import Image from "astro/components/Image.astro";
import heroBanner from "../images/silver-dunes.webp";
---

<div id="Home">
  <div class="banner-box">
    <div class="flex column">
      <h1 class="greeting1">،أهلًا</h1>
      <h1 class="greeting2">Hi,</h1>
    </div>
    <h2 class="banner-text">I'm Abdu, a Software Developer</h2>
    <div class="margin5">
      <button
        style="font-size: var(--spacing4);"
        class="outline-btn"
        onclick="document.getElementById('Bio')?.scrollIntoView({ behavior: 'smooth' });"
        >Check out my stuff</button
      >
    </div>
    <p>May this little fella inspire you to stay curious.</p>
  </div>
</div>

<style define:vars={{ heroBanner }}>
  #Home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    /* background-image: url("../images/silver-dunes.webp"); */
    background-image: url("../images/silver-dunes.webp");
    background-size: cover; /* Adjusts zoom to cover the area */
    background-position: center; /* Keeps image centered */
  }

  .banner-box {
    position: relative;
    z-index: 2;
    color: white;
    margin-left: var(--spacing6);
    color: hsl(83, 27%, 6%);
  }

  .greeting1,
  .greeting2 {
    font-size: 10rem;
    color: hsl(83, 27%, 6%);
  }
  
  .greeting1 {
    align-self: flex-end;
    margin-left: var(--spacing7);
  }
  
  .greeting2 {
    align-self: flex-start;
    margin-right: var(--spacing7);
  }
  
  .banner-text {
    /* Commented this out to ensure dark text over the banner image */
    /* color: var(--text); */
    color: hsl(83, 27%, 6%);
  }
</style>
