---
import Image from "astro/components/Image.astro";
import dunes from "../images/silver-dunes.webp";
---

<!-- 
  TODO: adjust responsiveness for 1080, medium and small screens.
 -->
<section id="Home">
  <div class="banner-box">
    <div class="flex column">
      <h1 class="greeting1">،أهلًا</h1>
      <h1 class="greeting2">Hi,</h1>
    </div>
    <h2 class="banner-text">I'm Abdu, a dev</h2>
    <button>My stuff</button>
  </div>

  <!-- <Image class:list={"banner-img"} src={dunes} alt=`dunes banner photo` /> -->
</section>

<style>
  #Home {
    width: 1200px;
    margin: var(--spacing7) auto;
    /* background: url("../images/silver-dunes.webp"); */
  }

  .banner-img {
    height: 80%;
  }
  .banner-box {
    max-width: 60%;
    margin: auto;
  }

  .greeting1,
  .greeting2 {
    font-size: 10rem;
    color: var(--text);
  }
  
  .greeting1 {
    align-self: flex-end;
  }
  
  .greeting2 {
    align-self: flex-start;
  }
  
  .banner-text {
    color: var(--text);
  }
</style>
