---
import Image from "astro/components/Image.astro";
import dunes from "../images/silver-dunes.webp";
---

<section id="Home" class="center">
    <h1>Welcome,</h1>
    <Image class:list={"banner-img"} src={dunes} alt=`dunes banner photo` />
</section>

<style>
    #Home {
        width: fit-content;
        max-width: max-content;
        margin: auto;
        overflow: hidden;
    }

</style>
