---
import Image from "astro/components/Image.astro";
import bioHeadshot from "../images/abdu-headshot.webp";
import eduPhoto from "../images/ubc-sign.webp";
import hobbyPhoto from "../images/Jackie.webp";
import workPhoto from "../images/bcit-tech-collider.webp";
---

<!-- Build out the Bio -->
<section id="Bio">
  <h1>Bio</h1>
  <div class="container flex column">
    <div class="bio-box flex">
      <div>
        <Image
          class:list={"bio-img"}
          src={bioHeadshot}
          alt={"Bio photo"}
          aria-label={"Headshot photo for Bio section"}
        />
      </div>
      <div>
        <h2>Background</h2>
        <!-- TODO:  update this later -->
        <p>Libyan, born and raised in Tripoli along the Mediterrean coast.</p>
        <p>
          My love for video-games sparked an interest in Technology. Which led
          to my first programming foray with Arduino robots. I've been coding
          ever since.
        </p>
      </div>
    </div>

    <div class="bio-box flex reverse">
      <div>
        <Image class:list={"bio-img"} src={workPhoto} alt={"Work photo"} />
      </div>
      <div>
        <h2>What I do</h2>
        <p>I build Software solutions to problems that life presents.</p>
        <p>
          Check out my some of my <a href="#Projects">projects</a> & <a
            href="#Skills">skills</a
          >.
        </p>
        <button
          class="outline-btn"
          onclick="document.getElementById('Contact')?.scrollIntoView({behavior: 'smooth'});"
          >Let's chat</button
        >
      </div>
    </div>

    <div class="bio-box flex">
      <div>
        <Image class:list={"bio-img"} src={eduPhoto} alt={"Education photo"} />
      </div>
      <div>
        <h2>Education</h2>
        <p>Massive thank you to my parents for providing a great education!</p>
        <p>
          British Columbia Institute of Technology - <span
            ><a
              href="https://www.bcit.ca/programs/computer-systems-technology-diploma-full-time-5500dipma/"
              >CST</a
            ></span
          > (2023-2025)
        </p>
        <p>University of British Columbia - BSc. (2020-2022)</p>
        <p>Shuhada al-Shat - High School (2017-2019)</p>
        <p>Kennedy-Lugar YES Exchange Program - (2017-2018)</p>
      </div>
    </div>

    <div class="bio-box flex reverse">
      <div>
        <Image
          class:list={"bio-img"}
          src={hobbyPhoto}
          alt={"Interests and Hobbies photographs"}
        />
      </div>
      <div>
        <h2>Interests</h2>
        <p>
          I'm a man of many hobbies and passions, most of which I cannot afford,
          hah!
        </p>
        <p>
          I'll share my favorite in <a href="#Interests">detail</a>, but here's
          some notable interests:
        </p>
        <div class="tag-box">
          <p class="tag">Café-hopping</p>
          <p class="tag">Aquariums</p>
          <p class="tag">Cyberpunk Media</p>
          <p class="tag">Guitar</p>
          <p class="tag">Sci-fi and Fantasy Novels</p>
          <p class="tag">Wildlife & Automotive Photography</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .bio-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .hobbies-list {
    line-height: 2.5em;
  }
  .hobbies-list > li {
    display: inline;
  }
</style>
