---

---

<!-- TODO:
    1. reCaptcha check to min spam 
    2. Send to my inbox
    3. Send confirmation to user for better UX
-->

<section id="Contact">
  <h1>Contact me</h1>
  <p>Whether it's for work or fun, let's chat.</p>
  <div id="contact-form">
    <form action="mail">
        <label for="name-input">Full name</label>
        <input type="text" name="name" id="name-input" placeholder="Your full name...">
        <label for="subject-input">Subject</label>
        <input type="text" name="name" id="subject-input" placeholder="Your full name...">

        <label for="message-input">Message</label>
        <textarea name="msg-txt" id="message-input" placeholder="I wanna chat about..."></textarea>
    </form>
  </div>
</section>
