---
import { Image } from "astro:assets";
import bannerImage from "../images/abdu-banner.webp";

// Simple Hero with image on the right and hero to the left
---

<section id="banner-section" class="margin3">
  <div class="flex">
    <div class="flex column">
      <div class="banner-greet1">
        <h1 class="greeting">،أهلًا</h1>
      </div>
      <div class="banner-greet2">
        <h1 class="greeting">Hi,</h1>
      </div>

      <div class="intro-box">
        <h3>I'm Abdu</h3>
        <p>I code and break things, then try fixing them.</p>
      </div>
    </div>

    <Image class:list={"banner-img"} src={bannerImage} alt="banner photo" />
  </div>
  <div class="center margin5">
    <!-- TODO: make this smoothly scroll down to first section -->
    <button style="font-size: var(--spacing4);" class="outline-btn"
      >Check out my stuff</button
    >
  </div>
</section>

<style>
  .flex {
    display: flex;
    gap: var(--spacing5);
    flex-wrap: wrap;
  }

  #banner-section {
  }
  .greeting {
    font-size: 8rem;
  }

  .banner-greet1 {
    align-self: flex-end;
  }

  .banner-greet2 {
    align-self: flex-start;
  }

  .intro-box {
    padding: 0%;
    text-align: start;
    align-self: flex-start;
  }
  .banner-img {
    height: 100%;
  }
</style>
