---
import { Image } from "astro:assets";
import bannerImage from "../images/silver-dunes.webp";

// Simple Hero with image on the right and hero to the left
---

<div id="Home" class="flex padding3 hero-gradient">
  <div class="flex column">
    <div class="greeting-box1">
      <h1 class="greeting">،أهلًا</h1>
    </div>
    <div class="greeting-box2">
      <h1 class="greeting">Hi,</h1>
    </div>

    <div class="intro-box">
      <h2 class="banner-text">I'm Abdu, a Software Developer</h2>
      <p>Full Stack, Scripting, and Functional Programming.</p>
      <div>
        <button
          onclick="document.getElementById('Bio')?.scrollIntoView({ behavior: 'smooth' });"
          >Check out my stuff</button
        >
        <button class="outline-btn">Resume</button>
      </div>
    </div>
  </div>
  <div class="visual-box">
    <Image class:list={"banner-img"} src={bannerImage} alt="banner photo" />
    <small>// Not much of a web/graphic designer so here's my fav photo.</small>
  </div>
</div>

<style>
  #Home {
    padding: 10%;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
  }
  .greeting {
    font-size: 10rem;
    font-weight: 400;
  }

  .greeting-box1 {
    margin-left: 20%;
  }

  .greeting-box2 {
    align-self: flex-start;
  }

  .intro-box {
    padding: 0%;
    text-align: start;
    align-self: flex-start;
  }
  .intro-box button {
    font-size: var(--fsize2);
    margin-right: var(--spacing3);
  }

  .banner-img {
    align-self: flex-start;
    height: 100%;
    width: 120%;
  }
 
</style>
