---
import { Image } from "astro:assets";
import bannerImage from "../images/silver-dunes.webp";

// Simple Hero with image on the right and hero to the left
---

<div id="Home" class="flex padding3 hero-gradient">
  <div class="flex column">
    <div class="greeting-box1">
      <h1 class="greeting">،أهلًا</h1>
    </div>
    <div class="greeting-box2">
      <h1 class="greeting">Hi,</h1>
    </div>

    <div class="intro-box">
      <h2 class="banner-text">I'm Abdu, a Software Developer</h2>
      <div class="margin5">
        <button
          style="font-size: var(--spacing4);"
          class="outline-btn"
          onclick="document.getElementById('Bio')?.scrollIntoView({ behavior: 'smooth' });"
          >Check out my stuff</button
        >
      </div>
    </div>
  </div>
  <div class="visual-box">
    <Image class:list={"banner-img"} src={bannerImage} alt="banner photo" />
    <small>// I write code not design UIs so here's my fav photograph</small>
  </div>
</div>

<style>
  #Home {
    padding: 10%;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
  }
  .greeting {
    font-size: 10rem;
  }

  .greeting-box1 {
    margin-left: 20%;
  }

  .greeting-box2 {
    align-self: flex-start;
  }

  .intro-box {
    padding: 0%;
    text-align: start;
    align-self: flex-start;
  }
  .banner-img {
    height: 100%;
    width: 100%;
  }

  .hero-gradient {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at 20% 20%, var(--background), var(--subbackground));
    background-size: 200% 200%;
    animation: radialGradientMove 10s ease-in-out infinite;
  }

  @keyframes radialGradientMove {
    0% {
      background-position: 20% 20%;
    }
    50% {
      background-position: 80% 80%;
    }
    100% {
      background-position: 20% 20%;
    }
  }
</style>
