---

---

<nav id="nav-tray" aria-hidden="true">
  <div class="flex padding2">
    <h3>
      <a href="#Bio">Bio</a>
    </h3>
    <h3>
      <a href="#Projects">Projects</a>
    </h3>
    <h3>
      <a href="#Contact">Contact</a>
    </h3>
  </div>
</nav>

<style>
  #nav-tray {
    height: 20vh;
    width: 100%;
    position: fixed;
    top: -230px;
    padding-bottom: var(--spacing2);
    background: rgba(20, 20, 20, 0.7);
    backdrop-filter: blur(8px);
    text-align: center;
    border-bottom: 1px solid var(--accent);
    box-shadow:
      0px 4px 4px hsla(0, 0%, 3%, 0.8),
      0px 12px 12px hsla(0, 0%, 1%, 0.4);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    display: none;
  }

  #nav-tray.animated.open {
    animation: pullTray 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  #nav-tray.animated:not(.open) {
    animation: closeTray 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  @media (max-width: 900px) {
    #nav-tray {
      display: block;
    }
  }
</style>

<script is:inline>
  // Navbar Menu Expansion handling
  const menuToggle = document.getElementById("menu-btn");
  const tray = document.getElementById("nav-tray");
  let animated = false;

  menuToggle.addEventListener("click", () => {
    /* 
      This `animated` class is sort of like a predicate flag to check that the tray has been toggled befor
      in order to prevent the tray from rendering the closing animation onLoad due to abscence of `open` class..
    */
    if (!animated) {
      tray.classList.add("animated");
      animated = true;
    }
    tray.classList.toggle("open");
    if (tray.getAttribute("aria-hidden") == "true") {
      tray.setAttribute("aria-hidden", "false");
    } else {
      tray.setAttribute("aria-hidden", "true");
    }
  });
</script>
