---

---

<!-- TODO: Refactor this mess and build out tray -->
<nav id="nav-tray">
  <div class="flex padding2">
    <h3>
      <a href="#Bio">Bio</a>
    </h3>
    <h3>
      <a href="#Projects">Projects</a>
    </h3>
    <h3>
      <a href="#Contact">Contact</a>
    </h3>
  </div>
</nav>

<style>
  #nav-tray {
    height: 20vh;
    width: 100%;
    position: fixed;
    top: -200px;
    padding-bottom: var(--spacing2);
    background: rgba(20, 20, 20, 0.7);
    backdrop-filter: blur(8px);
    text-align: center;
    border-bottom: 1px solid var(--accent);
    box-shadow:
      0px 4px 4px hsla(0, 0%, 3%, 0.8),
      0px 12px 12px hsla(0, 0%, 1%, 0.4);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  #nav-tray.open {
    animation: pullTray 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    top: 100px;
  }

  #nav-tray:not(.open) {
    animation: closeTray 0.4s cubic-bezier(0.4, 0, 0.2, 1) backwards;
    top: -200px;
  }
</style>

<script is:inline>
  // Navbar Menu Expansion handling
  const menuToggle = document.getElementById("menu-btn");
  const tray = document.getElementById("nav-tray");

  // Add a class to trigger the animation
  menuToggle.addEventListener("click", () => {
    tray.classList.toggle("open");
  });
</script>
