---
import { getCollection } from "astro:content";
import ProjectCard from "./projectCard.astro";
import ProjectModal from "./projectModal.astro";

const projects = await getCollection("projects");
---

<section id="Projects">
  <h1>Projects</h1>
  <div class="proj-gallery">
    {projects.map((project: any) => <ProjectCard projectProps={project} />)}
  </div>
  <ProjectModal projectProps={projects[1]}/>
</section>

<style>
  .proj-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
  }
</style>

<script is:inline>
  // TODO: onclick pop up the modal for that project.
  const modal = document.getElementById("project-modal");
  modal.showModal();
</script>
