---
/**
 * This Astro component's a wrapper around the Svelte islands, which I used for modal interactivity.
 * I kept this comp because of the ease of data retrieval using Astro's `getCollection` and content management.
 * Pass the data to the Svelte gallery as a prop, it then renders the flex box display of cards.
 */

import { getCollection } from "astro:content";
import ProjectGallery from "../components/projectGallery.svelte";

const projects = await getCollection("projects");
---

<section id="Projects">
  <h1>Projects</h1>
  <!-- Pass the data to the island -->
  <ProjectGallery client:only="svelte" projects={projects} />
</section>

<style>
  .proj-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
  }
</style>
