---
const { skillProps } = Astro.props;
---

<div class="container card top-accent-tab">
  <div class="flex column padding3">
    <h2>{skillProps.data.name}</h2>
    <img
      src={skillProps.data.icon}
      alt={`${skillProps.data.name} icon`}
      class="skill-icon"
    />
    <div class="margin2 points-box">
      <ul class="points-list">
        {skillProps.data.points.map((point: string) => <li>{point}</li>)}
      </ul>
    </div>
  </div>
</div>

<style>
  .skill-icon {
    min-width: 1em;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    padding: 0.5rem;
  }
  .points-box {
    padding: 0 var(--spacing2);
    margin: 0 var(--spacing4);
  }
  .points-list {
    list-style: disc;
    line-height: 1.5rem;
  }
  .points-list li {
    margin-bottom: 0.5em;
    padding-left: 0.2em;
  }
</style>
