---
import { getCollection } from "astro:content";
import SkillCard from "./skillCard.astro";
import SkillCarousel from "./skillCarousel.astro";

const skills = await getCollection("skills");
---

<!-- TODO: 
  1. Make the responsive and adaptive flex gallery-style with the cards.
  2. Max of 8 skillCards then make Reste button "jump" to urge user to reset.
  -->
<section id="Skills">
  <h1>Skills</h1>
  <p>I've experience with several languages,frameworks, and dev tools.</p>
  <!-- TODO: route to resume! -->
  <button>Resume</button>
  <div class="flex">
    {skills.map((skill: any) => <SkillCard skillProps={skill} />)}
  </div>
  <div class="center">
    <button id="skill-reset" class="outline-btn hidden" onclick="reset()"
      >Reset</button
    >
    <p id="reset-msg" class="hidden">Easy there!🫵✋🤌</p>
  </div>
  <SkillCarousel />
</section>

<script is:inline>
  const resetBtn = document.getElementById("skill-reset");
  let shownSkills = [];

  /**
   * Remove the 'hidden' class from respective SkillCard to display details.
   *
   * @param element reference to DOM element to be made visible.
   */
  const unhide = (element) => {
    if (element.classList.contains("hidden")) {
      element.classList.remove("hidden");
    }
  };

  /**
   * Reset the array of visible SkillCards and hide them and the reset button.
   */
  function reset() {
    shownSkills.forEach((element) => {
      if (!element.classList.contains("hidden")) {
        element.classList.add("hidden");
      }
    });
    shownSkills = [];
    resetBtn.classList.add("hidden");
  }

  // Attach listeners and handle carousel item clicks to make SkillCards visible
  document.querySelectorAll(".carousel-item").forEach((item) => {
    item.addEventListener("click", (e) => {
      const idx = parseInt(item.getAttribute("data-index"));
      const newPopup = document.getElementById(`skill-${idx}`);
      if (!shownSkills.includes(newPopup) && shownSkills.length < 8) {
        shownSkills.push(newPopup);
        unhide(newPopup);
        // If user tries to display over 8 skill cards trigger bounce animation
      } else if (shownSkills.length == 8) {
        document.getElementById('reset-msg').classList.remove("hidden");
        resetBtn.classList.add("bounce");
      }
      resetBtn.classList.remove("hidden");
    });
  });
</script>
