---
import HomeBanner from "../components/homeBanner.astro";
import Bio from "../components/bio.astro";
import ProjectsSection from "../components/projectsSection.astro";
import SkillsSection from "../components/skillsSection.astro";
import BaseLayout from "../layouts/baseLayout.astro";

const layoutProps = {
  title: "aabuharrus",
};
---

<BaseLayout {layoutProps}>
  <header>
    <HomeBanner />
    <!-- <Banner2 /> -->
  </header>

  <main>
    <Bio />
    <ProjectsSection />
    <SkillsSection />
  </main>
  <!-- TODO: Contact goes here -->
</BaseLayout>
