---
import Navbar from "../components/navbar.astro"
import ProjectCard from "../components/projectCard.astro"
import SkillCard from "../components/skillCard.astro"
import Footer from "../components/footer.astro"

import '../styles/styles.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>aabuharrus</title>
  </head>
  <body>

	<Navbar></Navbar>





	<Footer></Footer>
    <script>
		// Add the script imports here laters
	</script>
  </body>
</html>
